main .comment {
    margin-bottom: .5rem;
}
main .comment .information {
    margin-top: 0.25rem;
    font-size: 0.85rem;
    color: #888;
}

main .comment .body {
    border-left: 4px solid var(--border-color);
    padding-left: 0.75rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* comment-form */
.comment-form {
    width: 20rem;
    margin: 1rem 0 1rem 0;
}

.comment-form .field textarea {
    width: 100%;
}

.comment-form .field textarea {
    min-height: 3rem;
}

.comment-form .button-field {
}

.comment-form .button-field input {
    padding: 0.1rem 1.5rem;
}

.comment-form .error {
    color: var(--error-color);
    font-size: 0.75rem;
}